<div>
  <form ng-submit="createSchema()" name="createSchemaForm">
    <h1><a href="#/schemas">&#x21e6;</a> Create Schema for
    <input ng-model="event.EventName" value="event.EventName"/></h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Inbound</th>
          <th>Outbound</th>
          <th>Column Type <a href="https://git-aws.internal.justin.tv/twitch/docs/blob/master/scieng/api.md#transformations" target="_blank" rel="noopener noreferrer"><i class="fa fa-question-circle"></i></a></th>
          <th class="text-center">Column Size</th>
          <th class="text-center">Mapping Column</th>
          <th class="text-center" ng-if="isEditable">Distribution Key</th>
          <th class="text-center">Occurrence Rate</th>
          <th ng-if="isEditable">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in event.Columns">
          <td><input type="text"
                     value="{{p.InboundName}}"
                     ng-model="p.InboundName"
                     ng-disabled="!isEditable"
                     required/></td>
          <td><input type="text"
                     value="{{p.OutboundName}}"
                     ng-model="p.OutboundName"
                     ng-disabled="!isEditable"
                     required/></td>
          <td>
            <select ng-options="type for type in types"
                    ng-disabled="!isEditable"
                    ng-model="p.Transformer"/>
          </td>
          <td class="text-center">
            <input ng-if="p.Transformer == 'varchar'"
                   value="{{p.size}}"
                   ng-model="p.size"
                   ng-disabled="!isEditable"
                   required/>
          </td>
          <td class="text-center">
            <select ng-if="usingMappingTransformer(p)"
                    ng-options="name as name for name in validInboundNames()"
                    ng-model="p.mappingColumn"
                    ng-disabled="!isEditable"
                    required/>
          </td>
          <td class="text-center" ng-if="isEditable">
            <input type="radio"
                   ng-model="event.distkey"
                   value="{{p.OutboundName}}"
                   name="distkey"/>
          </td>
          <td class="text-center">
            {{p.OccurrenceProbability | number : 4}}
          </td>
          <td ng-if="p.InboundName !== 'time' && isEditable">
            <button ng-click="dropColumnFromSchema($index)"
                    type="button"
                    class="btn btn-warning">
              Drop
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr ng-if="isEditable">
          <td>
            <input type="text"
                   id="newInboundName"
                   ng-model="newCol.InboundName"
                   placeholder="Inbound Name"
                   autofocus/>
          </td>
          <td>
            <input type="text"
                   ng-model="newCol.OutboundName"
                   placeholder="Outbound Name"/>
          </td>
          <td>
            <select ng-options="type for type in types"
                    ng-model="newCol.Transformer"/>
          </td>
          <td class="text-center">
            <input ng-if="newCol.Transformer == 'varchar'"
                   type="number"
                   value="{{newCol.size}}"
                   ng-model="newCol.size"
                   />
          </td>
          <td class="text-center">
            <select ng-if="usingMappingTransformer(newCol)"
                    ng-options="name as name for name in validInboundNames()"
                    ng-model="newCol.mappingColumn"
                    required/>
          </td>
          <td colspan="2"></td>
          <td>
            <button ng-click="addColumnToSchema(newCol)"
                    type="button"
                    class="btn btn-primary">Add!</button>
          </td>
        </tr>
        <tr ng-if="isEditable">
          <td colspan="7"></td>
          <td class="text-center">
            <input type="hidden"
                   value="{{event.EventName}}"
                   ng-model="event.EventName"/>
            <button type="submit"
                    class="btn btn-success">Schemin'</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
