<h1>Published Schemas</h1>
<a href="#/schema" ng-if="loginName"><button type="button" class="btn
                                                btn-success">Create</button></a>

<div class="row">
  <div class="col-md-4 col-md-offset-8">
    <input id="schema-search"
           type="text"
           ng-model="search"
           class="form-control"
           placeholder="Search properties"
           autofocus
           />
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <span>Search to show properties.</span>
  </div>
</div>

<div class="row" ng-if="loading">
  <div class="col-md-1 col-md-offset-6">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
  </div>
</div>
<div ng-repeat="schema in schemas |
                filter:search |
                orderBy:'EventName'">

  <h3 style="margin-top: 35px">
    <a href="#/schema/{{::schema.EventName}}" ng-if="!schema.DropRequested">{{::schema.EventName}}</a>
    <del ng-if="schema.DropRequested">{{::schema.EventName}}</del>
    <span class="pull-right" ng-if="search.length > 3"><small>
        <span ng-if="schema.DropRequested">Deletion requested {{::schema.TS | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
        <span ng-if="!schema.DropRequested && schema.Version == 0">Created {{::schema.TS | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
        <span ng-if="!schema.DropRequested && schema.Version != 0">Last updated {{::schema.TS | date:'yyyy-MM-dd HH:mm:ss Z'}} to version {{::schema.Version}}</span>
        by {{::schema.UserName}}<span ng-if="schema.DropRequested"> because "{{::schema.Reason}}"</small></span>
  </h3>

  <table class="table table-hover" ng-if="search.length > 3">
    <thead>
      <tr>
        <th>Inbound</th>
        <th>Outbound</th>
        <th>Column Type</th>
        <th class="text-center">Column Options</th>
        <th class="text-center">Mapping Column</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in schema.Columns">
        <td>{{::p.InboundName}}</td>
        <td>{{::p.OutboundName}}</td>
        <td>{{::p.Transformer}}</td>
        <td class="text-center">{{::p.ColumnCreationOptions}}</td>
        <td class="text-center">{{::p.SupportingColumns}}</td>
      </tr>
  </table>
</div>

<h1 ng-if="ready">Unpublished Schemas with Data Incoming</h1>
<div ng-repeat="event in suggestions |
                filter : search |
                orderBy : 'Occurred' : true ">

  <h3><a href="#/schema?scope={{::event.EventName}}">{{::event.EventName}}</a> - Occurred {{::event.Occurred}} times in sample</h3>
</div>
