<h1><a href="#/schemas">&#x21e6</a> Published Schema for {{eventName}}
  <button ng-click="showDropTable = !showDropTable"
          type="button" class="btn" ng-class="{'btn-danger': !showDropTable, 'btn-success': showDropTable}"
          ng-show="dropMessage">{{ showDropTable ? cancelDropMessage : dropMessage }}</button>
</h1>
<div class="row" ng-if="loading">
  <div class="col-md-1 col-md-offset-6">
    <i class="fa fa-spinner fa-spin" style="font-size:24px; margin-top: 30px"></i>
  </div>
</div>
<form ng-show="showDropTable && dropMessage && !loading" ng-submit="dropTable()">
<div class="row form-group" style="margin-top: 35px">
  <div class="col-xs-3">
    <label for="reason">Reason for dropping: </label>
  </div>
  <div class="col-xs-6">
    <textarea name="reason" ng-model="dropTableReason" class="form-control"></textarea>
  </div>
  <div class="col-xs-2">
    <button type="submit" class="btn btn-danger" ng-disabled="executingDrop">Drop Table</button>
  </div>
  <div class="col-xs-1">
    <i class="fa fa-spinner fa-spin" style="font-size:24px" ng-show="executingDrop"></i>
  </div>
</div>
</form>

<form ng-show="!loading && (!showDropTable || !dropMessage)" name="updateSchemaForm" ng-submit="updateSchema()">
Note: any changes will be queued until offpeak hours - Redshift data for this table will be delayed from when said change is queued until it is executed offpeak.
<table class="table table-hover">
  <thead>
    <tr>
      <th>Inbound</th>
      <th>Outbound</th>
      <th>Column Type</th>
      <th class="text-center">Column Options</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in schema.Columns">
      <td>{{c.InboundName}}</td>
      <td ng-class="outboundColumnStyle(c.OutboundName)"><input type="text" ng-model="nameMap[c.OutboundName]" ng-change="outboundColumnChanged(c.OutboundName)" ng-readonly="columnAlreadyStagedForDelete($index)"> </td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td class="text-center">
        <button
          ng-if="!columnAlreadyStagedForDelete($index) && columnIsDeletable($index) && !outboundColumnEdited(c.OutboundName)"
          ng-click="deleteColumnFromSchema($index)"
        type="button"
        class="btn btn-danger">Drop</button>
        <button
          ng-if="columnAlreadyStagedForDelete($index) && columnIsDeletable($index)"
          ng-click="undoDeleteColumnFromSchema($index)"
        type="button"
        class="btn btn-info">Undo Drop</button>
        <button
          ng-if="outboundColumnEdited(c.OutboundName)"
          ng-click="undoRename(c.OutboundName)"
        type="button"
        class="btn btn-info">Undo Rename</button>
      </td>
    </tr>
    <tr ng-repeat="c in additions.Columns">
      <td>{{c.InboundName}}</td>
      <td>{{c.OutboundName}}</td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td class="text-center">
        <button ng-click="dropColumnFromAdditions($index)"
                type="button"
                class="btn btn-warning">Remove</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text"
               id="newInboundName"
               ng-model="newCol.InboundName"
               placeholder="Inbound Name"
               autofocus/>
      </td>
      <td>
        <input type="text"
               ng-model="newCol.OutboundName"
               placeholder="Outbound Name"
               name="outboundName"/>
      </td>
      <td>
        <select ng-options="type for type in types"
                ng-model="newCol.Transformer"/>
      </td>
      <td class="text-center">
        <input ng-if="newCol.Transformer == 'varchar'"
               type="number"
               value="{{newCol.size}}"
               ng-model="newCol.size"
               name="columnSize"/>
      </td>
      <td class="text-center">
        <button ng-click="addColumnToSchema(newCol)"
                type="button"
                class="btn btn-primary">Add!</button>
      </td>
    </tr>
    <tr>
      <td colspan="1"></td>
      <td ng-class="summaryStyle(numRenames())" class="text-center">Renaming {{numRenames()}}</td>
      <td ng-class="summaryStyle(additions.Columns.length)" class="text-center">Adding {{additions.Columns.length}}</td>
      <td ng-class="summaryStyle(deletes.ColInds.length)" class="text-center">Dropping {{deletes.ColInds.length}}</td>
      <td class="text-center">
          <button type="submit"
                  class="btn btn-success">Update Schema</button>
      </td>
    </tr>
    <tr>
      <td colspan="5" class="text-right">
        <span ng-if="deletes.ColInds.length > 0">WARNING: any Redshift views that depend on this table will be destroyed due to dropping columns.<br>
                                                 You may want to contact the owners of the views.</span>
      </td>
  </tfoot>
</table>
</form>
