<h1><a href="#/schemas">&#x21e6</a> Published Schema for {{schema.EventName}}</h1>

<form name="updateSchemaForm" ng-submit="updateSchema()">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Inbound</th>
      <th>Outbound</th>
      <th>Column Type</th>
      <th class="text-center">Column Options</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in schema.Columns">
      <td>{{c.InboundName}}</td>
      <td>{{c.OutboundName}}</td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td>&nbsp</td>
    </tr>
    <tr ng-repeat="c in additions.Columns">
      <td>{{c.InboundName}}</td>
      <td>{{c.OutboundName}}</td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td class="text-center">
        <button ng-click="dropColumnFromAdditions($index)"
                type="button"
                class="btn btn-warning">Remove</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text"
               id="newInboundName"
               ng-model="newCol.InboundName"
               placeholder="Inbound Name"
               autofocus/>
      </td>
      <td>
        <input type="text"
               ng-model="newCol.OutboundName"
               placeholder="Outbound Name"
               name="outboundName"/>
      </td>
      <td>
        <select ng-options="type for type in types"
                ng-model="newCol.Transformer"/>
      </td>
      <td class="text-center">
        <input ng-if="newCol.Transformer == 'varchar'"
               value="{{newCol.size}}"
               ng-model="newCol.size"
               name="columnSize"/>
      </td>
      <td class="text-center">
        <button ng-click="addColumnToSchema(newCol)"
                type="button"
                class="btn btn-primary">Add!</button>
      </td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td class="text-center">
          <button type="submit"
                  class="btn btn-success">Update Schema</button>

      </td>
    </tr>
  </tfoot>
</table>
</form>
